/data/*.json filter=lfs diff=lfs merge=lfs -text
/data/*.CIF filter=lfs diff=lfs merge=lfs -text
/data/bristol_parsed/*.json filter=lfs diff=lfs merge=lfs -text
/data/bristol_parsed/initial/*.json filter=lfs diff=lfs merge=lfs -text
/data/bristol_parsed/processed/*.json filter=lfs diff=lfs merge=lfs -text
/data/bristol_parsed/*.CIF filter=lfs diff=lfs merge=lfs -text
/data/london_parsed/*.json filter=lfs diff=lfs merge=lfs -text
/data/london_parsed/*.CIF filter=lfs diff=lfs merge=lfs -text
/data/lviv_parsed/*.json filter=lfs diff=lfs merge=lfs -text
/data/lviv_parsed/*.csv filter=lfs diff=lfs merge=lfs -text
/data/lviv_parsed/initial/*.json filter=lfs diff=lfs merge=lfs -text
/data/lviv_parsed/processed/*.json filter=lfs diff=lfs merge=lfs -text
/data/initial_datasets/* filter=lfs diff=lfs merge=lfs -text
/data/lviv_static_data/* filter=lfs diff=lfs merge=lfs -text

