/data/*.json filter=lfs diff=lfs merge=lfs -text
/data/*.CIF filter=lfs diff=lfs merge=lfs -text

/data/city_polygons/*.geojson filter=lfs diff=lfs merge=lfs -text

/data/processed_data/* filter=lfs diff=lfs merge=lfs -text

/data/initial_datasets/bristol/* filter=lfs diff=lfs merge=lfs -text
/data/initial_datasets/lviv/* filter=lfs diff=lfs merge=lfs -text

/data/reparsed_datasets/lviv_parsed/*.json filter=lfs diff=lfs merge=lfs -text
/data/reparsed_datasets/bristol_parsed/*.json filter=lfs diff=lfs merge=lfs -text



